In [43]:
!pip install kaggle
!pip install pandas

Requirement already satisfied: kaggle in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from kaggle) (2024.6.2)
Requirement already satisfied: python-dateutil in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: pandas in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/vyvuong/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [44]:
import pandas as pd 
# extract the file downloaded from kaggle
import zipfile

In [45]:
# download dataset from kaggle using the Kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [46]:
# extract the file from the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

#read in the csv file as a pandas dataframe
bikes = pd.read_csv("london_merged.csv")

#explore info
bikes.info

<bound method DataFrame.info of                  timestamp   cnt   t1   t2    hum  wind_speed  weather_code  \
0      2015-01-04 00:00:00   182  3.0  2.0   93.0         6.0           3.0
1      2015-01-04 01:00:00   138  3.0  2.5   93.0         5.0           1.0
2      2015-01-04 02:00:00   134  2.5  2.5   96.5         0.0           1.0
3      2015-01-04 03:00:00    72  2.0  2.0  100.0         0.0           1.0
4      2015-01-04 04:00:00    47  2.0  0.0   93.0         6.5           1.0
...                    ...   ...  ...  ...    ...         ...           ...
17409  2017-01-03 19:00:00  1042  5.0  1.0   81.0        19.0           3.0
17410  2017-01-03 20:00:00   541  5.0  1.0   81.0        21.0           4.0
17411  2017-01-03 21:00:00   337  5.5  1.5   78.5        24.0           4.0
17412  2017-01-03 22:00:00   224  5.5  1.5   76.0        23.0           4.0
17413  2017-01-03 23:00:00   139  5.0  1.0   76.0        22.0           2.0

       is_holiday  is_weekend  season
0             0.0         1.0     3.0
1             0.0         1.0     3.0
2             0.0         1.0     3.0
3             0.0         1.0     3.0
4             0.0         1.0     3.0
...           ...         ...     ...
17409         0.0         0.0     3.0
17410         0.0         0.0     3.0
17411         0.0         0.0     3.0
17412         0.0         0.0     3.0
17413         0.0         0.0     3.0

[17414 rows x 10 columns]>

In [47]:
bikes.shape
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [48]:
# count the unique values in the weather_code column
bikes.weather_code.value_counts()
# season column
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [49]:
# specifying the column names
new_cols_dict ={
    'timestamp':'time',
    'cnt':'count', 
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# rename() is a pandas method used to rename the labels of a dataframe
#axis = 1 is column, 0 is row, inplace true is directly change the OG name
# Renaming the columns to the specified column names
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [50]:
# changing the humidity values to value between 0 and 1
bikes.humidity_percent = bikes.humidity_percent / 100

In [51]:
# create season dictionary to map the integer values into according seasons
season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

# creating a weather dictionary so that we can map the integers to weather
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall',
    '94.0':'Freezing Fog'
}

# changing the seasons column data type to string
bikes.season = bikes.season.astype('str')
# mapping the values 0-3 to the actual written seasons
bikes.season = bikes.season.map(season_dict)

# changing the weather column data type to string
bikes.weather = bikes.weather.astype('str')
# mapping the values to the actual written weathers
bikes.weather = bikes.weather.map(weather_dict)

# checking our dataframe to see if the mappings have worked
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [62]:
# writing the final dataframe to an excel file that will be used in Tableau
# The file will be the 'london_bikes_final.xlsx' file
bikes.to_csv('london_bikes_final.csv', index=False)